<table class="table">
  <thead>
    <tr>
      <th scope="col">Seleccionar</th>
      <th scope="col" class="text-center text-secondary"><%=@plans[0].name %></th>
      <th scope="col" class="text-center text-secondary"><%=@plans[1].name%></th>
      <th scope="col" class="text-center text-secondary"><%=@plans[2].name%></th>
      <th scope="col" class="text-center text-secondary"><%=@plans[3].name%></th>
      <th scope="col" class="text-center text-secondary"><%=@plans[4].name%></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row" class="">Feretro</th>
      <td class="text-center text-secondary"><%=@plans[0].feretro %></td>
      <td class="text-center text-secondary"><%=@plans[1].feretro %></td>
      <td class="text-center text-secondary"><%=@plans[2].feretro %></td>
      <td class="text-center text-secondary"><%=@plans[3].feretro %></td>
      <td class="text-center text-secondary"><%=@plans[4].feretro %></td>
    </tr>
    <tr>
      <th scope="row">Sala de Velatorio</th>
      <td class="text-center text-secondary"><%=@plans[0].velatorio %></td>
      <td class="text-center text-secondary"><%=@plans[1].velatorio %></td>
      <td class="text-center text-secondary"><%=@plans[2].velatorio %></td>
      <td class="text-center text-secondary"><%=@plans[3].velatorio %></td>
      <td class="text-center text-secondary"><%=@plans[4].velatorio %></td>
    </tr>
    <tr>
      <th scope="row">Ceremonia y músicos</th>
      <td class="text-center text-secondary"><%=@plans[0].ceremonia_musicos %></td>
      <td class="text-center text-secondary"><%=@plans[1].ceremonia_musicos %></td>
      <td class="text-center text-secondary"><%=@plans[2].ceremonia_musicos %></td>
      <td class="text-center text-secondary"><%=@plans[3].ceremonia_musicos %></td>
      <td class="text-center text-secondary"><%=@plans[4].ceremonia_musicos %></td>
    </tr>
    <tr>
      <th scope="row">Flores y arreglos</th>
      <td class="text-center text-secondary"><%=@plans[0].flores_arreglos %></td>
      <td class="text-center text-secondary"><%=@plans[1].flores_arreglos %></td>
      <td class="text-center text-secondary"><%=@plans[2].flores_arreglos %></td>
      <td class="text-center text-secondary"><%=@plans[3].flores_arreglos %></td>
      <td class="text-center text-secondary"><%=@plans[4].flores_arreglos %></td>
    </tr>
    <tr>
      <th scope="row">Cremación</th>
      <td class="text-center text-secondary">
        <% if @plans[0].cremacion == true %>
          <i class="far fa-check-circle fa-2x main-green"></i>
        <% else %>
          <i class="far fa-times-circle fa-2x text-danger"></i>
        <% end %>
      </td>
      <td class="text-center text-secondary">
        <% if @plans[1].cremacion == true %>
          <i class="far fa-check-circle fa-2x main-green"></i>
        <% else %>
          <i class="far fa-times-circle fa-2x text-danger"></i>
        <% end %>
      </td>
      <td class="text-center text-secondary">
        <% if @plans[2].cremacion == true %>
          <i class="far fa-check-circle fa-2x main-green"></i>
        <% else %>
          <i class="far fa-times-circle fa-2x text-danger"></i>
        <% end %>
      </td>
      <td class="text-center text-secondary">
        <% if @plans[3].cremacion == true %>
          <i class="far fa-check-circle fa-2x main-green"></i>
        <% else %>
          <i class="far fa-times-circle fa-2x text-danger"></i>
        <% end %>
      </td>
      <td class="text-center text-secondary">
        <% if @plans[4].cremacion == true %>
          <i class="far fa-check-circle fa-2x main-green"></i>
        <% else %>
          <i class="far fa-times-circle fa-2x text-danger"></i>
        <% end %>
      </td>
    </tr>
    <tr>
      <th scope="row">Certificación y documentación</th>
      <td class="text-center text-secondary">
        <% if @plans[0].certificacion_doc == true %>
          <i class="far fa-check-circle fa-2x main-green"></i>
        <% else %>
          <i class="far fa-times-circle fa-2x text-danger"></i>
        <% end %>
      </td>
      <td class="text-center text-secondary">
        <% if @plans[1].certificacion_doc == true %>
          <i class="far fa-check-circle fa-2x main-green"></i>
        <% else %>
          <i class="far fa-times-circle fa-2x text-danger"></i>
        <% end %>
      </td>
      <td class="text-center text-secondary">
        <% if @plans[2].certificacion_doc == true %>
          <i class="far fa-check-circle fa-2x main-green"></i>
        <% else %>
          <i class="far fa-times-circle fa-2x text-danger"></i>
        <% end %>
      </td>
      <td class="text-center text-secondary">
        <% if @plans[3].certificacion_doc == true %>
          <i class="far fa-check-circle fa-2x main-green"></i>
        <% else %>
          <i class="far fa-times-circle fa-2x text-danger"></i>
        <% end %>
      </td>
      <td class="text-center text-secondary">
        <% if @plans[4].certificacion_doc == true %>
          <i class="far fa-check-circle fa-2x main-green"></i>
        <% else %>
          <i class="far fa-times-circle fa-2x text-danger"></i>
        <% end %>
      </td>
    </tr>
    <tr>
      <th scope="row">Urna</th>
      <td class="text-center text-secondary"><%=@plans[0].urna %></td>
      <td class="text-center text-secondary"><%=@plans[1].urna %></td>
      <td class="text-center text-secondary"><%=@plans[2].urna %></td>
      <td class="text-center text-secondary"><%=@plans[3].urna %></td>
      <td class="text-center text-secondary"><%=@plans[4].urna %></td>
    </tr>
    <tr>
      <th scope="row">Joya</th>
      <td class="text-center text-secondary"><%=@plans[0].joya %></td>
      <td class="text-center text-secondary"><%=@plans[1].joya %></td>
      <td class="text-center text-secondary"><%=@plans[2].joya %></td>
      <td class="text-center text-secondary"><%=@plans[3].joya %></td>
      <td class="text-center text-secondary"><%=@plans[4].joya %></td>
    </tr>
    <tr>
      <th scope="row">Esquela en diario local</th>
      <td class="text-center text-secondary">
        <% if @plans[0].esquela == true %>
          <i class="far fa-check-circle fa-2x main-green"></i>
        <% else %>
          <i class="far fa-times-circle fa-2x text-danger"></i>
        <% end %>
      </td>
      <td class="text-center text-secondary">
        <% if @plans[1].esquela == true %>
          <i class="far fa-check-circle fa-2x main-green"></i>
        <% else %>
          <i class="far fa-times-circle fa-2x text-danger"></i>
        <% end %>
      </td>
      <td class="text-center text-secondary">
        <% if @plans[2].esquela == true %>
          <i class="far fa-check-circle fa-2x main-green"></i>
        <% else %>
          <i class="far fa-times-circle fa-2x text-danger"></i>
        <% end %>
      </td>
      <td class="text-center text-secondary">
        <% if @plans[3].esquela == true %>
          <i class="far fa-check-circle fa-2x main-green"></i>
        <% else %>
          <i class="far fa-times-circle fa-2x text-danger"></i>
        <% end %>
      </td>
      <td class="text-center text-secondary">
        <% if @plans[4].esquela == true %>
          <i class="far fa-check-circle fa-2x main-green"></i>
        <% else %>
          <i class="far fa-times-circle fa-2x text-danger"></i>
        <% end %>
      </td>
    </tr>
    <tr>
      <th scope="row"></th>

      <td class="text-center text-secondary"><%= link_to 'Seleccionar', next_wizard_path(plan_id: @plans[0].id,step: 3), :class => 'btn bg-main-green text-light select-plan',estimate_id: @estimate_form.id %></td>
      <td class="text-center text-secondary"><%= link_to 'Seleccionar', next_wizard_path(plan_id: @plans[1].id,step: 3), :class => 'btn bg-main-green text-light select-plan', estimate_id: @estimate_form.id %></td>
      <td class="text-center text-secondary"><%= link_to 'Seleccionar', next_wizard_path(plan_id: @plans[2].id,step: 3), :class => 'btn bg-main-green text-light select-plan', estimate_id: @estimate_form.id %></td>
      <td class="text-center text-secondary"><%= link_to 'Seleccionar', next_wizard_path(plan_id: @plans[3].id,step: 3), :class => 'btn bg-main-green text-light select-plan', estimate_id: @estimate_form.id %></td>
      <td class="text-center text-secondary"><%= link_to 'Seleccionar', next_wizard_path(plan_id: @plans[4].id,step: 3), :class => 'btn bg-main-green text-light select-plan', estimate_id: @estimate_form.id %></td>
    </tr>
  </tbody>
</table>
