<div class="container py-4 mb-3">
  <%  if @estimate_form.errors.any?  %>
    <div class="error_messages">
      <h2><%= pluralize(@estimate_form.errors.count, "error") %> prohibe que esta cotización sea realizada:</h2>
      <ul>
        <%= @estimate_form.errors.full_messages.each do |message| %>
          <%= message %>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= params[:step] %>
  <div class="decoration-line mb-2"></div>
  <h2 class="main-green"> Opciones </h2>  
  <%= form_for @estimate_form, url: wizard_path do |f| %>
    <%= hidden_field_tag :estimate_id, @estimate_form.id %>
    <p class="text-secondary">Para un servicio como el que solicitas disponemos de las siguientes opciones. Selecciona la que más se ajuste a tu necesidad.</p>
    <div class="mb-3">
      <%= render 'table' %>
      <div class="text-center py-3 ">
        <%= link_to 'Volver', new_estimate_path(service_id: @estimate_form.service_id, service_name: @estimate_form.service.name ), :class => 'btn bg-main-green text-light px-20' %>
      </div>
    </div>
  </div>
  <% end %>
</div>
