<nav class="navbar navbar-light bg-light">
  <div class="container-fluid row py-2 mr-2">
      <div class="col-md-3 text-center py-1">   
        <%= link_to image_tag('test_logo.jpg', size: '180x90'), root_path %>
      </div>
      <div class="col-md-9 center row">
        <div class="col-md-8 col-sm-12 col-12 text-center row">
          <div class="col-md-2 col-sm-12 col-12 center border-main m-0">
            <i class="fas fa-phone main-green" style="font-size:20px;"></i>
          </div>
          <div class="col-md-3 col-sm-12 col-12 text-left">
              <strong>Llama Gratis</strong><br>       
              <a href="tel:6004909090" class="text-secondary">600 49 09 090</a>            
           
          </div>
          <div class="col-md-2 col-sm-12 col-12 center border-main m-0">
              <i class="far fa-comments fa-2x main-green"></i>
          </div>
          <div class="col-md-4 col-sm-12 col-12 text-left">
              <strong>Urgencias</strong><br>       
              <a href="tel:+56931879315" class="text-secondary">+569 31879315</a>            
          </div>
        </div>
      </div>
  </div>
</nav>
<% flash.each do |type, msg| %>
  <div class="alert alert-info">
    <%= msg %>
  </div>
<% end %>
<nav class=" container navbar navbar-light bg-light mt-4 box-shadow">
  <div class="col-md-12 text-center h4 text-secondary py-1">
    Configura un presupuesto en un minuto
  </div>
</nav>

<% if controller.action_name == 'index' &&  controller_name == 'estimates'%>
  <% step_1 = true %>
  <% step_2 = false %>
  <% step_3 = false %>
<% elsif params[:service_name] == Estimate::OTRAS_OPCIONES %>
  <% step_1 = false %>
  <% step_2 = false %>
  <% step_3 = true %>
<% elsif params[:service_name] == Estimate::CREMACION || params[:service_name] == Estimate::INHUMACION %>
  <% step_1 = true %>
  <% step_2 = false %>
  <% step_3 = false %>
<% elsif params[:service_name] == Estimate::REPATRIACION %>
  <% step_1 = false %>
  <% step_2 = true %>
  <% step_3 = false %>
<% elsif step.to_s == 'step_one' %>
  <% step_1 = false %>
  <% step_2 = true %>
  <% step_3 = false %>
<% else  step.to_s == 'step_two'%> 
  <% step_1 = false %>
  <% step_2 = false %>
  <% step_3 = true %>
<% end %>


<nav class="container navbar navbar-light bg-light text-center text-secondary py-2 my-4">
  <div class="col-md-4 col-4">
    <span class="<%= step_1 == true ? 'step-active' : ''%>">1</span>
  </div>
  <div class="col-md-4 col-4">
    <span class="<%= step_2 == true ? 'step-active' : '' %>">2</span>
  </div>
  <div class="col-md-4 col-4">
    <span class="<%= step_3 == true ? 'step-active' : ''%>">3</span>
  </div>
</nav>